<div id="text-details" class="text-details">
    <p>
        Se você percebe que seu computador está com baixo desempenho ou que sua capacidade não atende às suas necessidades de uso, é hora de renovar sua RAM. Você aumentará sua produtividade e trabalhará de forma rápida e simultânea com vários aplicativos.
    </p>
</div>