<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="details.css">
    <script src="https://kit.fontawesome.com/b5c29d615b.js" crossorigin="anonymous"></script>
    <title>Details</title>
</head>

<body>
    <%- include("partials/imgs") %>

    <a href="/">
        <i id="left" class="fa-solid fa-arrow-left"></i>
    </a>

    <section id="imgs">
            <img class="selected" src="/assets/memoria.jpg" alt="">
            <img src="/assets/placamae.jpg" alt="">
            <img src="/assets/processador.webp" alt="">
    </section>

</body>

</html>